* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
 
    background-image: url("/img/fondo.jpg");
    background-size: 100%;
  
  
  }


 

  .container .texto {
      font-size: 1.2rem;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 0 0 8px rgba(red, green, blue, alpha);

  }

  .lolxd {
    color: rgb(0, 0, 0);
  }

  .imagen-footer {
    width: 50px;
  }


  .video{
    align-content: center;
    margin-top: 2cm;

  
  }

  footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;

    color: white;
  }

  .row{

    margin: 0px 10px 10px 10px;
    padding: 10px;

}